body {
    background-color: black;
    color: aqua;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    text-align: center;
}

input[type="file"] {
    margin: 20px 0;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: grey;
    color: blue;
    border: 1px solid red;
    cursor: pointer;
}

button:hover {
    background-color: magenta;
    color: red;
}
